{% extends 'base.html.twig' %}

{% block title %}New PropretyRequest{% endblock %}

{% block body %}
    <div class="section-title">
         <h2>Demander une assurance habitat</h2>
      </div>

    {{ include('proprety_request/_form.html.twig') }}

{% endblock %}
