{% extends 'admin/index.html.twig' %}

{% block title %}New ContratVie{% endblock %}

{% block profile %}
    <div class="section-title">
        <h2>Ajouter un nouveau contrat maladie</h2>
     </div>

    {{ include('contrat_vie/_form.html.twig') }}

    <a href="{{ path('app_contrat_vie_index') }}">back to list</a>
{% endblock %}
