





<form id="deleteForm" method="post" action="{{ path('app_life_request_delete', {'id': life_request.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ life_request.id) }}">
    <button type="button" id="deleteButton" class="btn btn-danger">Delete</button>
</form>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script>
      document.getElementById('deleteButton').addEventListener('click', function(event) {
          event.preventDefault();
          Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
              if (result.isConfirmed) {
                  Swal.fire({
                      title: "Deleted!",
                      text: "Your file has been deleted.",
                      icon: "success"
                  });

                  document.getElementById('deleteForm').submit();
              }
          });
      });
  </script>