{% extends 'base.html.twig' %}

{% block title %}Edit VehicleRequest{% endblock %}

{% block body %}
<div class="section-title">

    <h2>Modifier une demande d'assurance</h2>
 </div>

    {{ include('vehicle_request/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('vehicle_request/_delete_form.html.twig') }}
{% endblock %}
