{% extends 'admin/index.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block profile %}
    <h1>Create new Rapport</h1>

    {{ include('rapport/_form.html.twig') }}

    
{% endblock %}
