{% extends 'admin/index.html.twig' %}

{% block title %}New ServiceAuto{% endblock %}

{% block profile %}
<div class="row justify-content-center ;margin-left:20px">
    <h1>Create new ServiceAuto</h1>
    {{ include('service_auto/_form.html.twig') }}
</div>
{% endblock %}
