<!DOCTYPE html>
<html lang="en">



<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="index.html">ProtechTini</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#services">Nos services</a></li>
                <li><a class="nav-link scrollto" href="#demandes"> Demandes</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Actualité</a></li>
                <li class="dropdown"><a href="#"><span>Assurance</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Assurance vehicule</a></li>
                        <li><a href="#">Assurance vie</a></li>
                        <li><a href="#">Assurance habitat</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="#about"> <l>Log In</l></a></li>
                <li><a class="getstarted scrollto" href="#about"> <l>Sign Up</l></a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Une expérience digitale exceptionnelle avec ProtechTini</h1>
                <h2>Protégez votre avenir avec des assurances fiables : Votre tranquillité d'esprit est notre engagement.</h2>
            </div>
            <div class="col-xl-5 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
                <img src="{{asset('FrontOffice/img/hero4.png')}}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>
</body>