{% extends 'base.html.twig' %}

{% block title %}Edit SinisterVehicle{% endblock %}

{% block body %}
    <h1>Edit SinisterVehicle</h1>

    {{ include('constat/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
