{% extends 'base.html.twig' %}

{% block title %}New SinisterProperty{% endblock %}

{% block body %}
<h1 class="text-center">Déclarer votre sinistre véhicule</h1>

    {{ include('sinister_property/_form.html.twig') }}


{% endblock %}
