<form method="post" action="{{ path('app_medical_sheet_delete', {'id': medical_sheet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medical_sheet.id) }}">
    <button class="btn">Delete</button>
</form>
